{% for i in comments %}
<div class="single-user-comment-area">
    <div class='comment-area-user-profile'>
            <p id="username">{{ i.user.username }}</p>
        <img width='50px' alt='{{ i.user.username }}'
        src='{{ i.user.profiles.user_avatar.url }}'
        style="border-radius: 5px;">
    </div>
    <div class='comment-area-user-comment'>
    <p class='comment-area-user-comment-time'>
        {{ i.user_comment_time }}
    </p>
    <p id="comment">
            {{ i.user_comment }}
    </p>        
    </div>
</div>
{% endfor %}
