{% extends 'full_test_templates/base_extend.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>{{ index }}</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <main>
    {% for i in displayed_items %}
    <div class="displayed-items">

        <a class="displayed-items-quicklink"
        href="{% url 'full_test:VideoPage' i.videoID.int %}" >
        <p>
            {{ i.videoTitle }} 
        </p>
        <img src="{{ i.videoPoster.url }}" alt="{{ i.videoTitle }}" 
             width="200px" style="padding-left: 8px; vertical-align: middle;" title="{{ i.videoTitle }}">
        {% if i.videoIntroduction|length <= 30 %}
        <p class='displayed-items-intro' >
            {{ i.videoIntroduction }}
        </p>
        {% else %}
        <p class="displayed-items-intro">
            {{ i.videoIntroduction|slice:':31' }}...
        </p>
        {% endif %}
        </a>
    </div>
    {% endfor %}
    </main>
    <script src="{% static 'js/index.js' %}">
    </script>
    
    {% endblock %}
</body>

</html>