{% extends 'full_test_templates/base_extend.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_historyt</title>
    {% block css %}

    {% endblock %}
</head>
<body>
    {% block content %}

    Still in development
    <!--
    <main>
    {% for i in history_video %}
    <div class="history-video-item">
    <a href="{{ i.video.url }}" class="history-video-item-quicklink">
        <p class="history-video-item-title">{{ i.videoTitle }}</p>
        <img src="{{ i.videoPoster.url }}" alt="{{ i.videoTitle }}">
        <p class="history-video-item-videointro">{{ i.videoIntroduction }}</p>
    </a>
    </div>
    {% endfor %}
    </main>
    -->
    {% endblock %}
</body>
</html>